@page
@using System.Runtime.InteropServices
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-left"></div>
    <p>Operating Architecture: @RuntimeInformation.OSArchitecture</p>        
    <p>Operating System: @RuntimeInformation.OSDescription</p>
    <p>Process Architecture: @RuntimeInformation.ProcessArchitecture</p>
    <p>Machine Name: @Environment.MachineName</p>
    <p>Framework Version: @RuntimeInformation.FrameworkDescription (@RuntimeInformation.ProcessArchitecture)</p>

    <p>
        <img src="images/logo.png" width="300" height="180" />
    </p>

<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
